title {
	display: none;
}

body {
	font-family: avenir;
}

header {
	padding: 50px;
	font-size: 18px;
}

#header {
	border: 2px dotted #dbdbdb;
	padding: 20px;
	text-align: center;

h1 {
	color: #373238;
}	
}

/* PREFACE */

section#preface {
	display: grid
}

#preface {
	margin-bottom: 20px;
	background: #edf0f5;
	color: #373238;
	background: #ccd4ce;
	padding: 10px;
}

/* SECTION 1 */

#datacollectioninfo {
	margin-bottom: 20px;
	background: #edf0f5;
	color: #373238;
	border: 1.4px dotted #c9acaf;
	padding: 10px;
}

section#section1datacollection {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
	margin-bottom: 20px;
}

div.video-container {
	position: relative;
	width: 100%;
}
div.video-container iframe {
	position: absolute;
	top: 0; left: 0;
	margin-left: 15px;
	height: 100%;
	width: 96%
}
/* SECTION 2 */

section#section2datavisualization {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 20px;
}


#datavizinfo {
	margin-bottom: 20px;
	background: #ccd4ce;
	color: #373238;
	font-size: 16px;
	padding: 10px;
}

/* SECTION 3 */

section#section3dataexplained {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(2, 1fr);
}

section#section3dataexplained div {
	min-height: 300px;
	margin-bottom: 20px;
} 

div.content-wrapper {
	border: 1px dotted #c9acaf;
	background: #edf0f5;
	color: #373238;
	font-size: 14px;
	padding: 20px
}

div.video-container {
	position: relative;
	width: 100%;
}
div.video-container iframe {
	position: absolute;
	top: 0; left: 0;
	margin-left: 15px;
	height: 100%;
	width: 96%
}

/* FOOTER */

footer {
	min-height: 350px;
}

#footer {
	background: #ccd4ce;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
